<article>
    <section class="first-footer">
        <div class="first-footer__para1">
            <h1>Let's make it <br>
                happen together.</h1>
        </div>
        <div class="first-footer__para2">
            <p>We drive transformation in healthcare through innovative design, tailored to your vision and goals.</p>

            <button>START AN APPOINTMENTS <div>-></div></button>
        </div>
    </section>
    <section class="social-link">

        <ul>
            <li><a href="">Email</a>
                <div><img src="/icons/link1.png" alt=""></div>
            </li>
            <li><a href="">Instagram</a>
                <div><img src="/icons/link1.png" alt=""></div>
            </li>
            <li><a href="">Twitter (x)</a>
                <div><img src="/icons/link1.png" alt=""></div>
            </li>
            <li><a href="">LinkedIn</a>
                <div><img src="/icons/link1.png" alt=""></div>
            </li>
            <li><a href="">Medium</a>
                <div><img src="/icons/link1.png" alt=""></div>
            </li>
            <li><a href="">Spotify</a>
                <div><img src="/icons/link1.png" alt=""></div>
            </li>
        </ul>

    </section>
    <section class="big-logo-name">
        <div><img src="/icons/logo-footer.png" alt=""></div>
        <h1>HEALTH</h1>
    </section>
    <section class="rights-footer">
        <div>© 2024 All Rights Reserved.</div>
        <div><a href="">Privacy Policy</a>
            <a href="">Terms and conditions</a>
        </div>
    </section>
</article>