/* You can add global styles to this file, and also import other style files */
@import "../../healthcare-appointment-system/public/scss/colors/colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
html {
  scroll-behavior: smooth;
}

// Reusable button styles
.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;

  &--primary {
    background-color: #3a86ff;
    color: #ffffff;

    &:hover {
      background-color: darken(#3a86ff, 10%);
    }
  }

  &--secondary {
    background-color: #ffbe0b;
    color: #ffffff;

    &:hover {
      background-color: darken(#ffbe0b, 10%);
    }
  }
}

@media (max-width: 768px) {
  .appointment-list-container,
  .appointment-form-container {
    padding: 1rem;
  }

  .table {
    font-size: 0.9rem;

    th,
    td {
      padding: 0.5rem;
    }
  }
}

@font-face {
  font-family: "MangoGrotesque-medium";
  src: url("/fonts/MangoGrotesque-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MangoGrotesque-semi-medium";
  src: url("/fonts/MangoGrotesque-SemiBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
